<!-- templates/estatisticas.html -->
{% extends 'base.html' %} 
{% block content %}


<div class="container" style="position: relative; left: -10%">
  <iframe
    src="http://192.168.15.8:8050"
    height="1000"
    style="background-color: #eee4e1; scrolling: yes; width: 120%"
    frameborder="0"
    sandobox=["allow-same-origin", "allow-top-navigation", "allow-forms", "allow-modals", "allow-orientation-lock",
    "allow-pointer-lock", "allow-popups", "allow-popups-to-escape-sandbox", "allow-presentation", "allow-scripts",
    "allow-top-navigation-by-user-activation"] 
  ></iframe>
</div>

{% endblock content %}

