<!-- templates/registro_novo.html -->
{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}

<br />

<div class="card border-dark" style="border-radius: 0.5rem;">
    <div class="card-header text-center">
        <h2>Inserir novo registro</h2>
        <p>Todas informações serão armazenadas no banco de dados e poderão ser alteradas a qualquer
            momento pelo usuário administrador do sistema</p>
    </div>
    <div class="card-body text-left">
        <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
            {{ form|crispy }}
            <button class="btn btn-success ml-" style="float: right;" type="submit">Salvar novo registro</button>
            <br />
            <br />
        </form>
    </div>
</div>


<!--<form action="" method="post" enctype="multipart/form-data"> {% csrf_token %}
    <div class="container py-5 h-500">
        <div class="row d-flex justify-content-center align-items-center h-300">
            <div class="col-20 col-md-8 col-lg-6 col-xl-5">
                <div class="card shadow-2-strong" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-left">
                        <h5 class="mb-5">Cadastrar</h5>
                        <div class="form-outline mb-4" >
                            {{ form|crispy }}
                        </div>
                        <br />
                        <button class="btn btn-info btn-lg btn-block" type="submit">Enviar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>-->

{% endblock content %}
