<!-- templates/signup.html -->
{% extends 'base.html' %}
{% block title %}Sign Up{% endblock title %}
{% block content %}
{% load crispy_forms_tags %}

<br />

<div class="card border-dark">
    <div class="card-header text-center">
    <h2>Cadastro de usuário</h2>
  </div>
    <div class="card-body">
        <p class="card-text">
        <form method="post">{% csrf_token %}
            {{ form|crispy }}
            <button class="btn btn-success ml-" style="float: right;" type="submit">Salvar novo usuário</button>
            <br />
            <br />
        </form>
    </div>
</div>

{% endblock content %}
