<!-- templates/registration/password_change_form.html -->
{% extends 'base.html' %}
{% block title %}Alteração Senha{% endblock title %}
{% block content %}
{% load crispy_forms_tags %}

<br />

<div class="card border-dark" style="border-radius: 0.5rem;">
  <div class="card-header text-center">
    <h2>Alteração de senha</h2>
    <p>Por favor, digite sua senha antiga por segurança, e então digite sua
        nova senha duas vezes para que possamos verificar que digitou corretamente.</p>
  </div>
    <div class="card-body">
        <p class="card-text">
        <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}
        <br />
        <button class="btn btn-success ml-" style="float: right;" type="submit">Alterar senha</button>
        <br />
        <br />
        </form>
  </div>
</div>

{% endblock content %}
